<h4 class="primary_action guided"><%= link_to 'Or Return to Question Index', questions_path %></h4>
<h1>Editing Question: <span class="item_name"><%= @question.name %></span></h1>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>
  <ul class="form">
    <%= render :partial => 'question_form', :locals => {:f => f} %>
    <li>
      <%= f.submit 'Update' %>
    </li>
  </ul>
<% end %>