<li class="category_refinements">
  <ul class="category_checklist">
    <% for category in categories %>
      <li class="<%= "category_#{category.id}" %>">
        <span class="count">0</span>
        <%= label_tag "category_#{category.id}".to_sym, category.name %>
        <%= check_box_tag "category_#{category.id}".to_sym, 1, true %>
        <% if category.categories.length > 0 %>
          <ul>
            <% for category in category.categories %>
              <li class="<%= "category_#{category.id}" %>">
                <span class="count">0</span>
                <%= label_tag "category_#{category.id}".to_sym, category.name %>
                <%= check_box_tag "category_#{category.id}".to_sym, 1, true %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>