<li class="category_refinements">
  <ul class="category_checklist">
    <li>
      <span class="count">10</span>
      <%= label_tag :cameras, "Cameras" %>
      <%= check_box_tag :cameras %>
      <ul>
        <li>
          <span class="count">7</span>
          <%= label_tag :slrs, "SLRs" %>
          <%= check_box_tag :slrs %>
        </li>
        <li>
          <span class="count">3</span>
          <%= label_tag :point_and_shoot, "Point and Shoot" %>
          <%= check_box_tag :point_and_shoot %>
        </li>
      </ul>
    </li>
    <li>
      <span class="count">6</span>
      <%= label_tag :memory, "Memory/Data" %>
      <%= check_box_tag :memory %>
      <ul>
        <li>
          <span class="count">2</span>
          <%= label_tag :compact_flash, "Compact Flash" %>
          <%= check_box_tag :compact_flash %>
        </li>
        <li>
          <span class="count">3</span>
          <%= label_tag :sd, "SD" %>
          <%= check_box_tag :sd %>
        </li>
        <li>
          <span class="count">1</span>
          <%= label_tag :microsd, "microSD" %>
          <%= check_box_tag :microsd %>
        </li>
      </ul>
    </li>
  </ul>
</li>