<%= render :partial => 'breadcrumb', :locals => {:category => @category} %>
<% form_tag('/equipment/search') do %>
  <div id="search_module" class="module">
      <fieldset>
        <legend>Explore <%= @category.name %></legend>
        <ul class="form">
          <%= render :partial => 'layouts/availability_fields' %>
          <li class="category_refinements">
            <%= render :partial => 'category_faceting', :locals => {  :current => @category, 
                                                                      :parent_category => @parent_category || @category } %>
          </li>
          <li class="search_field_availability_submit non_interactive">
             <%= submit_tag "Refine Search Results" %>
          </li>
        </ul>
      </fieldset>
  </div>
<% end %>

<div id="search_results">
  <h2><%= @items.length %> Items in "<%= @category.name %>" Category</h2>
  <%= render :partial => 'item_list', :locals => {:items => @items} %>
</div>