<ul id="breadcrumb">
  <li class="return"><a href="javascript:history.go(-1)">Return to Search Results</a></li>
  <%= render :partial => 'breadcrumb_categories', :locals => {:category => @item.category} %>
  <li><a href="#"><%= @item.name %></a></li>
</ul>
<div id="item_details">
  <h2><%= @item.name %></h2>
  <div id="add_to_cart" class="cart_item_module">
    <%= render :partial => 'add_item_form', :locals => {:item => @item} %>
    <% if current_user && current_user.has_role?(:teacher) %><a href="#" class="pull_request">Pull Request</a><% end %>
  </div>
  <%= image_tag(@item.image.url(:medium), :alt => @item.name, :class => 'item_image_detail') %>
  
  <h3>Description:</h3>
  <%= RedCloth.new(@item.description).to_html %>
  
  <h3>Includes:</h3>
  <%= render :partial => 'shared/included_items_list_only', :locals => {:item => @item} %>
  
  <h3>Suggested Complimentary Items:</h3>
  <ul class="inline_item_list">
      <!-- item_1: Gorillapod -->
      <li id="item_1" class="item">
        <h4 class="item_name"><a href="item">Tripod</a></h4>
        <a href="item" class="item_photo"><img src="/images/samples/sample_tripod_2.jpg" width="115" height="115" alt="Gorillapod"/></a>
        <h5 class="add_to_cart"><a href="#">Add to Cart</a></h5>
        <h5 class="view_details"><a href="item">View Details</a></h5>
      </li>
  </ul>
  
  <% if !@alternative_items.blank? %>
    <h3>Similar Alternative Items:</h3>
    <ul class="inline_item_list">
      <li>
        <%  # => Oh god am I really doing something so sloppy...
            count = 1
            for item in @alternative_items 
              if count <= 3 %>
              <%= render :partial => 'inline_list_item', :locals => {:item => item} %>
        <%    count += 1
            end 
          end %>
      </li>
    </ul>
  <% end %>
</div>
