<% form_tag('/equipment/search') do %>
  <div id="search_results_phrase" class="search_form">
      <%= render :partial => 'layouts/search_field', :locals => {:search_label => 'You Searched For:'} %>
      <ul class="related_phrases">
        <li class="section_title">You might also want to try... </li>
        <li><a href="#">Powershot 450</a></li>
        <li><a href="#">Cannon 50-D</a></li>
        <li><a href="#">Cannon EOS-450</a></li>
        <li><a href="#">Rebel XTi</a></li>
      </ul>
  </div>

  <div id="search_module" class="module">
      <fieldset>
        <legend>Refine Search</legend>
        <ul class="form">
          <%= render :partial => 'layouts/availability_fields' %>
          <li class="category_refinements">
            <ul class="category_checklist">
              <li>
                <span class="count">10</span>
                <%= label_tag :cameras, "Cameras" %>
                <%= check_box_tag :cameras %>
                <ul>
                  <li>
                    <span class="count">7</span>
                    <%= label_tag :slrs, "SLRs" %>
                    <%= check_box_tag :slrs %>
                  </li>
                  <li>
                    <span class="count">3</span>
                    <%= label_tag :point_and_shoot, "Point and Shoot" %>
                    <%= check_box_tag :point_and_shoot %>
                  </li>
                </ul>
              </li>
              <li>
                <span class="count">6</span>
                <%= label_tag :memory, "Memory/Data" %>
                <%= check_box_tag :memory %>
                <ul>
                  <li>
                    <span class="count">2</span>
                    <%= label_tag :compact_flash, "Compact Flash" %>
                    <%= check_box_tag :compact_flash %>
                  </li>
                  <li>
                    <span class="count">3</span>
                    <%= label_tag :sd, "SD" %>
                    <%= check_box_tag :sd %>
                  </li>
                  <li>
                    <span class="count">1</span>
                    <%= label_tag :microsd, "microSD" %>
                    <%= check_box_tag :microsd %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="search_field_availability_submit">
             <%= submit_tag "Refine Search Results" %>
          </li>
        </ul>
      </fieldset>
  </div>
<% end %>

<div id="search_results">
  <h2>16 Results Found for "Camera"</h2>
  <ol class="item_list">
    <!-- item_1: EOS 50-D -->
    <li id="item_1" class="item">
      <h3 class="item_name"><a href="#">Cannon 50-D</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_50d.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Wall Charger</li>
        <li>Battery Pack</li>
        <li>USB Cable</li>
        <li>Carrying Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
    
    <!-- item_2: EOS 450 xTI -->
    <li id="item_2" class="item">
      <h3 class="item_name"><a href="#">Cannon 450 Rebel</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_rebel.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Wall Charger</li>
        <li>Battery Pack</li>
        <li>USB Cable</li>
        <li>Carrying Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
    
    <!-- item_3: EOS 50-D -->
    <li id="item_3" class="item">
      <h3 class="item_name"><a href="#">Cannon 50-D</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_powershot.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Wall Charger</li>
        <li>Battery Pack</li>
        <li>USB Cable</li>
        <li>Carrying Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
    
    <!-- item_4: Powershot s400 -->
    <li id="item_4" class="item">
      <h3 class="item_name"><a href="#">Cannon Powershot s400</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_powershot_2.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Wall Charger</li>
        <li>Battery Pack</li>
        <li>USB Cable</li>
        <li>Carrying Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
    
    <!-- item_5: Powershot s600 -->
    <li id="item_4" class="item">
      <h3 class="item_name"><a href="#">Cannon Powershot s600</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_powershot.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Wall Charger</li>
        <li>Battery Pack</li>
        <li>USB Cable</li>
        <li>Carrying Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
    
    <!-- item_6: Compact Flash -->
    <li id="item_1" class="item">
      <h3 class="item_name"><a href="#">Sandisk 8GB SD Card</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_sd2.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Memory Card Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
    
    <!-- item_7: SD -->
    <li id="item_1" class="item">
      <h3 class="item_name"><a href="#">Lexar 8GB Compact Flash</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_compact_flash_2.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Memory Card Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
    
    <!-- item_8: Compact Flash -->
    <li id="item_1" class="item">
      <h3 class="item_name"><a href="#">Sandisk 4GB Compact Flash</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_compact_flash.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Memory Card Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
    
    <!-- item_9: SD -->
    <li id="item_1" class="item">
      <h3 class="item_name"><a href="#">SanDisk 4GB SD Card</a></h3>
      <a href="#" class="item_photo"><img src="/images/samples/sample_sd.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
      <h4>Includes:</h4>
      <ul class="included_items">
        <li>Memory Card Case</li>
      </ul>
      <h4 class="add_to_cart"><a href="#">Add to Cart</a></h4>
      <h4 class="view_details"><a href="#">View Details</a></h4>
    </li>
  </ol>
</div>