<% form_tag('/equipment/search') do %>
  <div id="search_results_phrase" class="search_form">
      <%= render :partial => 'layouts/search_field', :locals => {:search_label => 'You Searched For:', :value => params[:search]} %>
      <ul class="related_phrases">
        <li class="section_title">You might also want to try... </li>
        <li><a href="#">Powershot 450</a></li>
        <li><a href="#">Cannon 50-D</a></li>
        <li><a href="#">Cannon EOS-450</a></li>
        <li><a href="#">Rebel XTi</a></li>
      </ul>
  </div>
  <div id="search_module" class="module">
      <fieldset>
        <legend>Refine Search</legend>
        <ul class="form">
          <%= render :partial => 'layouts/availability_fields' %>
          <%= render :partial => 'category_refinements' %>
          <li class="search_field_availability_submit non_interactive">
             <%= submit_tag "Refine Search Results" %>
          </li>
        </ul>
      </fieldset>
  </div>
<% end %>

<div id="search_results">
  <h2><%= @items.length %> Results Found for "<%= params[:search] %>"</h2>
  <%= render :partial => 'item_list', :locals => {:items => @items} %>
</div>