<li>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</li>
<li>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>
</li>
<li>
  <%= f.label :category_id, "Primary Category" %>
  <%= f.collection_select :category_id, Category.all, :id, :name, {:prompt => true} %>
</li>
<li>
  <%= f.label :tag_list, "Tags (separated by commas!)" %>
  <%= f.text_area :tag_list, :class => "short" %>
</li>
<li>
  <%= f.label :image, "Item Image" %>
  <%= f.file_field :image %>
</li>