<h4 class="primary_action guided"><%= link_to 'Or Return to Items Index', items_path %></h4>
<h1>Editing Item: <span class="item_name"><%= @item.name %></span></h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>
  <ul class="form">
    <%= render :partial => 'item_form', :locals => {:f => f} %>
    <li>
      <%= f.submit 'Update Item' %>
    </li>
  </ul>
<% end %>