<h4 class="primary_action guided"><%= link_to 'Or Just Manage Categories', categories_path %></h4>
<h4 class="primary_action"><%= link_to 'Create a New Item', new_item_path %></h4>
<h1>Listing Items</h1>

<ol class="item_list">
  <% @items.each do |item| %>
    <!-- item_<%= item.id %>: <%= item.name %> -->
    <li id="item_<%= item.id %>" class="item">
      <%= render :partial => 'equipment/item_detail' %>
      <ul class="action_list">
        <li class="primary_action"><%= link_to 'Edit', edit_item_path(item) %></li>
        <li class="primary_action delete"><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></li>
      </ul>
    </li>
  <% end %>
</ol>