<h4 class="primary_action guided"><%= link_to 'Or Return to Category Index', categories_path %></h4>
<h1>Editing Category: <span class="item_name"><%= @category.name %></span></h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>
  <ul class="form">
    <%= render :partial => 'category_form', :locals => {:f => f} %>
    <li>
      <%= f.submit 'Update' %>
    </li>
  </ul>
<% end %>