<h4 class="primary_action guided"><%= link_to 'Or Return to Managing Items', items_path %></h4>
<h4 class="primary_action"><%= link_to 'Create a New category', new_category_path %></h4>
<h1>Listing Categories</h1>

<ul class="sorted_list" id="categories">
  <% @categories.each do |category| %>
    <li id="category_<%= category.id %>">
      <ul>
        <li><%= link_to category.name, edit_category_path(category) %></li>
        <li class="primary_action guided"><%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %></li>
        <%= render :partial => 'shared/sort_handle' %>
      </ul>
    </li>
  <% end %>
</ul>