<% form_tag('/search') do %>
  <%= render :partial => 'layouts/search_field', :locals => {:search_label => search_label} %>
  <fieldset>
    <legend>Optional</legend>
    <ul class="form">
      <li class="search_field_date from">
        <%= label_tag :available_from, "Pickup On" %>
        <%= text_field_tag :available_from, "", :class => 'datepicker' %>
      </li>
      <li class="search_field_date until">
        <%= label_tag :available_until, "Return On" %>
        <%= text_field_tag :available_until, "", :class => 'datepicker' %>
      </li>
      <li class="search_field_availability_submit">
         <%= submit_tag "Search For Available Items" %>
      </li>
    </ul>
  </fieldset>
<% end %>