<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>EquipmentBooking - <%= controller.controller_name %> - <%= controller.action_name %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/system.css" type="text/css" media="screen" charset="utf-8"/>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <script src="/javascripts/modernizr-1.0.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body id="<%= @page_id || controller.controller_name %>" class="<%= @page_class || "#{controller.controller_name}_#{controller.action_name}" %>">
    <div id="header">
      <h1 id="uq_equipment_booking">Equipment Rentals</h1>
      <h2 id="logo"><a href="/"><img src="/images/uq_logo.gif" width="132" height="38" alt="UQ Logo"/></a></h2>
    </div>
    <div id="login">
      <%= render :partial => 'sessions/login_form', :locals => {:id => "primary_login"} %>
    </div>
    <ul class="primary_navigation">
      <li class="equipment"><a href="#">Find Equipment</a></li>
      <li class="reservations"><a href="#">My Reservations</a></li>
      <li class="help"><a href="#">Help &amp; Guides</a></li>
    </ul>
    <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <% if flash[:error] %>
    <div id="error">
      <%= flash[:error] %>
    </div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
    <script src="/javascripts/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>