<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>EquipmentBooking - <%= controller.controller_name %> - <%= controller.action_name %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/system.css" type="text/css" media="screen" charset="utf-8"/>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <script src="/javascripts/modernizr-1.0.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body id="<%= @page_id || controller.controller_name %>" class="<%= @page_class || "#{controller.controller_name}_#{controller.action_name}" %>">
    <div id="header" class="header">
      <h1 id="uq_equipment_booking">Equipment Rentals</h1>
      <h2 id="logo"><a href="/"><img src="/images/uq_logo.gif" width="132" height="38" alt="UQ Logo"/></a></h2>
    </div>
    <div id="login">
      <%= render :partial => 'sessions/login_form', :locals => {:id => "primary_login"} %>
    </div>
    <div id="primary_search_form" class="search_form">
      <%= render :partial => 'layouts/search_form', :locals => {:search_label => "Search Equipment Library:"} %>
    </div>
    <div id="navigation_container">
      <ul id="primary_navigation" class="navigation">
        <li class="equipment"><a href="#">Find Equipment</a></li>
        <li class="reservations"><a href="#">My Reservations <span class="reservation_count">2</span></a>
          <ul class="sub_navigation">
            <li>
              <ul>
                <li><span class="count">1</span><a href="#">Requested</a></li>
                <li><span class="count">1</span><a href="#">Possessed</a></li>
                <li><span class="count">1</span><a href="#">Overdue</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="help"><a href="#">Help &amp; Guides</a>
          <ul class="sub_navigation">
            <li class="help_categories">
              <ul>
                <li class="section_title">Help Categories</li>
                <li><a href="#">Requesting Items</a></li>
                <li><a href="#">Returning Items</a></li>
                <li><a href="#">Account Management</a></li>
              </ul>
            </li>
            <li class="most_asked_questions">
              <ul>
                <li class="section_title">Most Asked Questions</li>
                <li>
                  <ol>
                    <li><a href="#">How do I file a damage report?</a></li>
                    <li><a href="#">Where can I pick up my items?</a></li>
                    <li><a href="#">How many items am I allowed to checkout?</a></li>
                    <li><a href="#">How do I pay my overdue fees?</a></li>
                    <li><a href="#">Why does it say my account is pending approval?</a></li>
                  </ol>
                </li>
                <li class="more"><a href="#">See more questions and answers...</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="checkout"><a href="#">0 items in your cart</a></li>
      </ul>
    </div>
    <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <% if flash[:error] %>
    <div id="error">
      <%= flash[:error] %>
    </div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
    <div id="additional_content" class="footer">
      <div id="secondary_search_form" class="search_form">
        <%= render :partial => 'layouts/search_form', :locals => {:search_label => "Couldn’t find what you were looking for on this page?"} %>
      </div>
      <div id="inline_sitemap">
        <ul class="find_equipment">
          <li class="section_title"><h2><a href="#">Find Equipment</a></h2></li>
          <li><a href="#">Search &amp; Browse</a></li>
        </ul>
        <ul class="my_reservations">
          <li class="section_title"><h2><a href="#">My Reservations</a></h2></li>
          <li><a href="#">Manage My Reserved Items</a></li>
          <li><a href="#">Items I Currently Have Checked Out</a></li>
          <li><a href="#">Report Damaged/Lost Items</a></li>
        </ul>
        <ul class="help_and_guides">
          <li class="section_title"><h2><a href="#">Help and Guides</a></h2></li>
          <li><a href="#">How do I file a damage report?</a></li>
          <li><a href="#">Where can I pick up my items?</a></li>
          <li><a href="#">How many items am I allowed to checkout?</a></li>
          <li><a href="#">How do I pay my overdue fees?</a></li>
          <li><a href="#">Why does it say my account is pending approval?</a></li>
          <li class="more"><a href="#">See more questions and answers...</a></li>
      </div>
      <ul id="contact_information">
        <li class="logo"><a href="/"><img src="/images/uq_logo.gif" width="132" height="38" alt="UQ Logo"/></a></li>
        <li class="address">Brisbane St Lucia, QLD 4072</li>
        <li class="phone">+61 7 3365 1111</li>
        <li class="locales">
          Other Campuses: <a href="#">UQ Ipswich</a>,
          <a href="#">UQ Gatton</a>, <a href="#">UQ Herston</a>
        </li>
        <li class="copyright">&copy; 2009 The University of Queensland</li>
      </ul>
    </div>
    <!-- Delete this grid for production -->
    <ul id="grid">
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
    </ul>
    <script src="/javascripts/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/site.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/dev.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>